<a href="https://colab.research.google.com/github/prathammehta16/ML_University_Course/blob/main/Lab2_PandasPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#creating dataframe
import pandas as pd
data = [[1, 2, 3], [4, 5, 6]]
df = pd.DataFrame(data)
print(df)

   0  1  2
0  1  2  3
1  4  5  6

In [2]:
#Reading files
df = pd.read_csv('Data.csv')
df.head()

      Name  Age  Experience
0  Pratham   21           1
1     Ansh   23           2
2     Meet   22           3
3    Tejas   55          20
4    Kamal   42          10

In [3]:
#Slicing manipulations
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
row0 = df.loc[0]
print(row0)

A    1
B    4
C    7
Name: 0, dtype: int64

In [4]:
rows1_and_2 = df.loc[1:2]
print(rows1_and_2)

   A  B  C
1  2  5  8
2  3  6  9

In [8]:
#Exporting data to files
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
df.to_csv('data1.csv', index=False)
df = pd.read_csv('data1.csv')
df.head()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [9]:
#Columns and row manipulations with loops
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
for index, row in df.iterrows():
    a = row['A']
    b = row['B']
    c = row['C']
    d = a + b + c
    e = d / 3
    df.loc[index, 'D'] = d
    df.loc[index, 'E'] = e

print(df)

   A  B  C     D    E
0  1  4  7  12.0  4.0
1  2  5  8  15.0  5.0
2  3  6  9  18.0  6.0

In [10]:
#Use pandas for masking data and reading if in Boolean format.
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
mask = df['A'] > 1
selected_rows = df.loc[mask]
print(selected_rows)

   A  B  C
1  2  5  8
2  3  6  9